*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}


/* Header Styling */
header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    align-items: center;
}

.header-nav-menu,
.header-content {
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
}

.header-nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.header-nav-menu-logo a {
    text-decoration: none;
    color: #F9FAF8;
    font-size: 20px;
    font-weight: 600;
}

.header-nav-menu-links ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header-nav-menu-links a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 14px;
}

/* Header Content Styling */
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 50px;
    margin-top: 75px;
    flex: wrap;
}

.header-content-text {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    flex-shrink: 0;
}

.header-content-text h1 {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
    margin: 0;
}

.header-content-text p {
    color: #E5E7EB;
    font-size: 16px;
    font-weight: 10;
    margin: 10px 0px; 
}

.header-content-text button {
    font-size: 14px;
    color: #E5E7EB;
    font-weight: 700;
    background-color: #3882f6;
    width: 100px;
    height: 30px;
    border-style: none;
    border-radius: 8px;
    padding: 5px;
    flex-shrink: 0;
    margin-top: 10px;
}

/* Header Image Styling */
.header-content-image {
    display: flex;
    background-color: rgba(229, 231, 235, 0.8);
    flex-grow: 1; 
    flex-shrink: 0;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
}

.header-content-image p {
    color: #E5E7EB;
    font-size: 14px;
}

/* Main Styling */
main {
    flex: 1;
}

.info-section,
.quotes-section,
.cta-section {
    width: 100%;
}

/* Information Section Styling */
.info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px 100px 20px;
}

.info-section-title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 20px;
    color: #1F2937;
    font-weight: 900;
}

.info-section-content {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    text-align: center;
}

.box {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 200px;
    flex-shrink: 0;
    flex-grow: 0;
}

.box a {
    border: 3px solid#3882F6;
    border-radius: 8px;
    padding: 75px;
}

.box p {
    margin-top:  10px;
}

/* Quote Section Styling */
.quotes-section {
    background-color: #E5E7EB;
    padding: 100px;
    align-items: center;
    justify-items: center;
}

.quotes-section-text {
    width: 100%;
    max-width: 750px;
    display: flex;
    flex-direction: column;
}

.quotes-section-text h1 {
    font-size: 30px;
    font-weight: 10;
    font-style: italic;
}
.quotes-section-text p {
    font-weight: 900;
    margin-top: 20px;
    text-align: right;
} 

/* CTA Section Styling */
.cta-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px;
}

.cta-section-content {
    background: #3882F6;
    width: 100%;
    max-width: 1200px;
    display: flex;
    border-radius: 5px;
    padding: 20px 50px;
    justify-content: space-between;
    gap: 50px;
}

.cta-section-content .text {
    color: #F9FAF8;
}

.cta-section-content .text  h1 {
    font-size: 25px;
    margin: 0;
}

.cta-section-content .text  p {
    font-size: 15px;
    margin-top: 5px;
}

.cta-section-content button {
    font-size: 14px;
    color: #E5E7EB;
    font-weight: 700;
    background-color: #3882F6;
    border-radius: 8px;
    box-sizing: none;
    border: 3px solid #E5E7EB;
    width: 100px;
    height: 50px;
    flex-shrink: 0;
}

footer {
    background-color: #1F2937;
    padding: 25px;
    text-align: center;
    color: #F9FAF8;
}

/* Extras to help with responsivity */
@media (max-width: 1000px) {
    .header-nav-menu-links {
        display: none; /* Hide navigation links on small screens */
    }

    .header-content {
        flex-direction: column; /* Stack content vertically */
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .header-content-text {
        align-items: center;
    }

    .header-content-image {
        max-width: 100%; /* Ensure the image fits smaller screens */
        margin: 0 auto; /* Center the image */
        height: auto; /* Allows Height to adjust */
        min-height: 300px 
    }

    .header-nav-menu-logo a {
        font-size: 18px; /* Adjust logo size for small screens */
    }

    .quotes-section-text {
        text-align: center;
    }

    .info-section-content {
        gap: 20px; /* Space between boxes on smaller screens */
    }

    .cta-section-content {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 20px;
        border-radius: 15px
    }

    .cta-section-content button {
        width: 100%; /* Make button full width on smaller screens */
    }

    .cta-section-content .text {
        text-align: center; 

    }
}